/* 卡片的标题栏 */

.el-card__header{
  width: 100%;
  background-color: #eeeeee;
  font-weight: bold;
  text-align: left;
  font-size: 16px;
}

/* 卡片的内容栏 */
.el-card__body{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  text-align: left;
  font-size: 15px;
}

/* 卡片标题上的查看更多 */
.elcard-showmore-link{
  float: right;
  font-size: 14px;
}

/* 菜单*/
.el-menu {
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: #f5f5f5;
}

/* 菜单项 */
.el-menu-item {
  width: 90px;
  font-size: 14px;
  border-right: #eeeeee 2px solid;
}

/* hover在菜单项上 */
.el-menu-item:hover {
  font-weight: bolder;
  width: 90px;
}

/* 水平菜单的子菜单 */
.el-menu--horizontal > .el-submenu .el-submenu__title {
  width: 90px;
  border-right: 2px solid #eeeeee;
  font-size: 15px;
}

/* 水平菜单的子菜单的菜单项 */
.el-menu--horizontal .el-menu .el-menu-item {
  font-size: 14px;
  width: auto;
}

